<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>

      <h2>Customer Information</h2>
      <hr />

      <form>
        <div class="row">
          <div class="form-group col">
            <label for="first-name">First Name</label>
            <input
              type="text"
              class="form-control"
              id="first-name"
              placeholder="First Name"
            />
          </div>

          <div class="form-group col">
            <label for="last-name">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="last-name"
              placeholder="Last Name"
            />
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
            />
          </div>

          <div class="form-group col">
            <label for="phone">Phone</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="Phone"
            />
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <label for="amount">Total Amount</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              placeholder="Amount"
            />
          </div>

          <div class="form-group col">
            <label for="currency">Currency</label>
            <input
              type="text"
              class="form-control"
              id="currency"
              placeholder="Currency"
              value="OMR"
              disabled
            />
          </div>
        </div>

        <h2>Order item information</h2>
        <hr />

        <div class="row">
          <div class="form-group col">
            <label for="itemId">Item id</label>
            <input
              type="text"
              class="form-control"
              id="itemId"
              placeholder="Item Id"
              value="1"
              disabled
            />
          </div>

          <div class="form-group col">
            <label for="itemName">Item Name</label>
            <input
              type="text"
              class="form-control"
              id="itemName"
              placeholder="Item Name"
            />
          </div>

          <div class="form-group col">
            <label for="quantity">Quantity</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              placeholder="Quantity"
              value="1"
            />
          </div>

          <div class="form-group col">
            <label for="amountPerItem">Amount per item</label>
            <input
              type="number"
              class="form-control"
              id="amountPerItem"
              placeholder="Amount per item"
              value="1"
            />
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <label for="description">Description</label>
            <input
              type="text"
              class="form-control"
              id="description"
              placeholder="Description"
            />
          </div>

          <div class="form-group col">
            <label for="itemAmount">Item Amount</label>
            <input
              type="number"
              class="form-control"
              id="itemAmount"
              placeholder="Item Amount"
              value="1"
              disabled
            />
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>

    <!-- form logic script -->
    <script type="text/javascript" src="/javascripts/formLogic.js"></script>

    <!-- Tap gosell SDK -->
    <script
      type="text/javascript"
      src="https://goSellJSLib.b-cdn.net/v1.4.1/js/gosell.js"
    ></script>
  </body>
</html>
